<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Basic Keys for functanality and logs--> 
    <add key="ImportsFTPUrl"                   value="bioadvance.hostedftp.com" />
    <add key="ImportsFTPPort"                  value="22" />
    <add key="ImportsFTPSourceFolder"          value="McKesson_Outbound\" />
    <add key="ImportsFTPSourceArchiveFolder"   value="Archive" />
    <add key="ImportsFTPUserName"              value="bioadvanceams@mckesson.ca" />
    <add key="ImportsFTPUserPwd"               value="QmlvQU1TQA==" /> 
    <!--<add key="ImportsFTPUserPwd"               value="VGFzaHUwMDE3QA==" />--> 
    <!--<add key="ImportsFTPUserPwd"               value="VGFzaHUwMDE3" />-->
    <add key="ExportsFTPTargetFolder"          value="\\sftp01\Specialty\Janssen\Freeway\Inbound\testingCode\" />
    <add key="BioadvanceFileTransferLogFolder" value="\\sftp01\Specialty\Janssen\Freeway\Inbound\testingCode\logs\" />
  
    <!--Email sending-->
    <add key="Email_Subject"                  value="TestDEV:Bioadvance file download Report" />
    <add key="Email_FromEmail"                value="bioadvanceams@McKesson.ca" />
    <add key="Email_ToEmail"                  value="bioadvanceams@McKesson.ca" />
    <add key="Email_SmtpServer"               value="turtleshell.ca.hq.medisna.com" />
    <add key="Email_Port"                     value="25" />
    <add key="Email_EnableSsl"                value="false" />
    <add key="Email_Priority"                 value="1" />
</appSettings>
</configuration>